body {
  margin: 0;
  padding: 0;
  font-family: 'Staatliches';

}
.nav-bar {
  text-align: center;
  list-style: none;
  top: 0;
  background-color: white;
}

#top-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30%;
  padding-right: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 5;
  width: 100%;
}
#top-nav > ul {
  margin: auto;
}
.navBarItem {
  display: inline-block;
  padding-right: 25px;
  text-decoration: none;
  margin: 15px;
  letter-spacing: 1.5px;
  font-family: 'Staatliches';



}

.navBarItem > a {
  text-decoration: none;
  margin: auto;
  /* display: flex; */
}


.navBarItem > a:hover {
  color: blue;
}

#top-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#top-photo > a > img {
  height: 120px;
}

.youtube {
  width: 100%;
  margin-top: 200px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.youtube iframe {
width: 100%;
}
.row {
  padding-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.imgRow {
  padding-top: 70px;
}
.circlesmile {
 width: 40px;
 height: 40px;
 border: 5px solid black; /* draw circle (credits to w3 school) */
 border-radius: 60%;
 border-bottom-color: transparent; /* halve circle */
 border-left-color: transparent;
 transform: rotate(-45deg);
 position: absolute;
 top: 123px;
 left: 110px;
}
.circlesmile.movement {
  transform: rotate(140deg);
  transition-duration: 400ms;
}

.pen {
 position: absolute;
 top: -100px;
 left: -200px;
 border: none;
 transform: rotate(75deg);
 height: 70%;
 width: 70%;
 outline-style: none;
 cursor: pointer;
}
.pen.move {
  transform: rotate(50deg);
  transition-duration: 400ms;
  outline-style: none;

}

button {
  height: 50px;
  width: 300px;
  font-family: 'Staatliches';
  border: 4px solid black;
}
.btn {
  font-family: 'Staatliches';
  border: 1px solid black;
  border-color: black;
}
#button {
  border: 1px solid black;
}
#button2 {
  border: 1px solid black;
}

.footItem {
  display: inline-block;
  padding-right: 30px;
  padding-top: 30px;
  text-decoration: none;
}

.footItem {
  padding-top: 10px;
}
.footItem > a > img {
  height: 20px;
}
#foot {
  margin: 0 auto 10px auto;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 48%;
  right: 48%;
  width: 100%;
  background: white;
}

@media(max-width: 700px) {
    #top-nav {
      flex-direction: column;
      justify-content: center;
    }
    .logo {
      width: 0%;
      height: 0%;
      padding: 0px;
    }
    .navBarItem {
      padding-right: 0;
    }
    video {
      height: 100%
    }
}
@media(max-width: 800px) {
  #top-nav {
    flex-direction: column;
    justify-content: center;  /* change nav bar to column, stored inside hamburger icon drop down */
  }
  .navBarItem {
    padding-right: 0;
  }

}
@media(max-width: 1200px) {
.pen {
  display: none;
}
.circlesmile { /* remove pen and smile animation for screens below 1200px in width */
  display: none;
}

.face {
  display: none;
}
}


    .icon {
      display: none;
    }
    .shrinknav {
      display: none;
    }


    @media screen and (max-width: 800px) {
      .navv li:not(:first-child)  {display: none;}
      .icon {
        float: right; /*icons in column */
        display: block;
        padding: 10px 0px 10px 0px;
      }
      .logo {
        display: none; /* remove logo  from navbar */
      }
    }
