* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;

}

html {
  font-family: 'Varela Round', sans-serif;
}
 body {
   width: 100%;
 }
h1 {
  font-size: 33px;
  color: #B7516E ;
  overflow-y: hidden;
}
h6 {
  font-size: 22px;
}

nav {
  line-height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between; /*yhis is really fucking useful */
  background-color: white	;
  position: fixed;
  top: 0;
  z-index: 1;

}
header {
}
nav a {
  text-decoration: none;
  color: #B7516E;
  border-radius: 1000px;
  font-weight: 700;
  padding-left: 0%;
  padding-right: 5%;
}

.pull-right {
}

.namee {
  padding-left: 5%;
}
header {
  height: 800px;
  min-height: 800px;
  background-image: url('sicksteven.png');
}

header h1 {
  margin-top: 20%;
  padding-left: 5%;
  font-size: 90px;
  height: 300px;
  width: 700px;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

header p {
  margin-top: 70px;
  padding-left: 5%;
  color: white;

}
.blog-text {
  font-family: 'Varela Round', sans-serif;
  padding-top: 3%;
}
.container {
  padding: 7%;
}
.wireframeText {
  background-color: #E8E8E8;
  padding-top: 0%;
}
.wireframeText h1{
  font-size: 80px;
}
.wireframeText h1, .wireframeText p{
  text-align: center;
}
.wireframe {
  background-color: #E8E8E8;
}
.wireframeSmall {
  padding: 2%;
}
.wireframe img {
  width: 100%;
}

.justify-content-center {
  text-align: center;
}
.finalSiteHeader h1 {
  background-color: white;
  padding-top: 5%;
  font-size: 80px;
  text-align: center;
}
